<div class="container">
  <header>
    <h2>Welcome to Simplilearn</h2>
  </header>
  <nav class="btn btn-warning navbar navbar-expand-lg navheader">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="list" class="nav-link">UserList</a>
        </li>
        <li class="nav-item">
          <a routerLink="adduser" class="nav-link">Add User</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
